<div id="<%= dom_id secret_key %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Token:</strong>
    <%= secret_key.token %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Account:</strong>
    <%= secret_key.account_id %>
  </p>

  <%= secret_key.live? %>
</div>
