<% content_for :title, "Editing secret key" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing secret key</h1>

  <%= render "form", api_secret_key: @api_secret_key %>

  <%= link_to "Show this secret key", @api_secret_key, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to secret keys", api_secret_keys_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
